.pokedex-main__wrapper {
  text-align: center;
  .pokedex-main__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    article {
      border: 1px solid white;
      box-shadow: 0 0 10px white;
      border-radius: 25px;
      .pokedex-main__image-container-design {
        background: linear-gradient(34deg, #2c72b8 17%, #ffcb05 50%);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        img {
          width: 50%;
        }
      }
      .pokedex-main__pokemonInfo-container-design {
        background-color: white;
        color: black;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        .pokeball {
          img {
            width: 15%;
          }
        }
      }
    }
  }
}
